* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.wrap {
    .item {
        display: flex;

        div {
            // background-color: rebeccapurple;
            width: 20px;
            text-align: center;
            padding: 3px;
        }

        input {
            width: 200px;
            height: 25px;
            padding: 0 5px;
        }

        &+.item {
            margin-top: 3px;
        }
    }
}