* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.wrap {
    .item {
        span {
            background-color: rebeccapurple;
            width: 20px;
        }

        input {
            width: 200px;
        }

        &+.item {
            margin-top: 3px;
        }
    }
}